@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Yantramanav:400,700&subset=latin-ext');

body {
  background: #191919;
  color: #888;
  font-family: 'Yantramanav', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.expanded {
  display: block !important;
}

input[type='button'] {
  border: none;
  color: #222;
  padding: 13px 20px;
}

/*NAV*/

nav {
  margin: auto;
  text-align:center;
  width: 100%;
}

nav#toggle {
  background: #ddd;
  display: flow-root;
}

.title {
  background: #F7DF1E;
  color: #000;
  overflow: auto;
  padding: 20px 40px;
}

.title img {
  float: left;
  max-height: 156px;
  max-width: 100%;
}

.title h1 {
  text-align: right;
  line-height: 96px;
  font-size: 36px;
}

.btn {
  display: none;
}

.nav-menu {
  max-width: 100%;
  margin: auto;
  margin-left: -40px;
  background: #ddd;
}

.nav-menu li {
  display: inline-block;
  padding: 30px;
}

.nav-menu li a {
  text-decoration: none;
  color: #222;
}

.active {
   pointer-events: none;
   cursor: default;
   border: 2px solid #222;
   font-weight: bold;
}

@media screen and (max-width: 554px) {

  .nav-menu {
    display: none;
  }

  .nav-menu li {
    padding: 10px;
    display: block;
  }

  .btn {
    display: block;
    max-width: 100%;
    margin: auto;
    background: #ddd;
    text-align: left;
  }

  nav#toggle {
    display:none;
  }

}

/*NAV*/
/*----------------------------------------------------------------------------*/

/*SECTION CONTAINER*/

.container {
  margin: 40px;
}

.title-console::before {
  content: "X";
  position: absolute;
  right: 12px;
  border-radius: 50%;
  padding: 0 10px;
  text-align:center;
  font-weight: bold;
  background: #c00;
  color: #fff;
}

.title-console {
  background: #333;
  padding: 10px;
  margin-bottom: 0px;
  border-left: 2px solid #777;
  border-top: 2px solid #777;
  border-right: 2px solid #777;
  font-weight: bold;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.title-console::after {
  content: "–";
  position: absolute;
  right: 50px;
  border-radius: 50%;
  background: #390;
  padding: 0 10px;
  text-align:center;
  font-weight: bold;
  color: #fff;
}

.console {
  margin-top: 0px;
  padding: 20px;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  border-right: 2px solid #777;
  background: #232323;
}

code {
  font-weight: bold;
  color: #ccc;
}

@media screen and (max-width: 690px) {
  .title img {
    float: none;
  }

  .title h1 {
    display: none;
  }

  .nav-menu li {
    padding: 30px 24px;
  }
}
